# Ignore all
*

# And explicitly include...
!/.cargo
!/assets
!/back-end
!/build-scripts
!/Cargo.lock
!/Cargo.toml
!/front-end
!/package.json
!/pnpm-lock.yaml
!/tailwind.config.mjs
!/tsconfig.json
!/vite.config.ts
