/.git
/.mypy_cache
/.vscode/rust-prettifier-for-lldb

/profiling
/reports
/back-end/src   # rust-fmt
/back-end/tests # rust-fmt
/target

/Cargo.lock
/CHANGELOG.md
/package.json
/pnpm-lock.yaml
/tsconfig.json
/tsconfig.dev.json
/tsconfig.build.json
