# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build TypeScript

on:
  workflow_call:

permissions:
  contents: read

jobs:
  warm-up-cache:
    name: Warm up the cache
    runs-on: ubuntu-latest
    steps:
      - &checkout
        name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          show-progress: false

      - &install_pnpm
        name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - &setup_node
        name: Set up node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        shell: bash
        run: |
          pnpm install --frozen-lockfile

  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      typescript: ${{ steps.filter.outputs.typescript }}
    steps:
      - *checkout

      - name: Check if we actually made changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: .github/file-filters.yml

  npm-build:
    name: Build the code
    runs-on: ubuntu-latest
    needs:
      - warm-up-cache
    permissions:
      checks: write
      id-token: write
      pull-requests: write
    steps:
      - *checkout

      - *install_pnpm

      - *setup_node

      - &install_dependencies_from_cache
        name: Install dependencies
        shell: bash
        run: |
          pnpm install --frozen-lockfile --offline

      - name: Run build
        shell: bash
        run: |
          pnpm run build

  npm-lint:
    name: Lint the code
    runs-on: ubuntu-latest
    permissions:
      checks: write
    needs:
      - changes
      - warm-up-cache
    if: |
      github.event_name == 'pull_request' &&
      fromJSON(needs.changes.outputs.typescript) == true
    steps:
      - *checkout

      - *install_pnpm

      - *setup_node

      - *install_dependencies_from_cache

      - name: Run lint
        shell: bash
        run: |
          pnpm run lint --format=json --output-file reports/lint-report.json || true

          # hack to print results in the console
          node --print "require('./node_modules/eslint/lib/cli-engine/formatters/stylish.js')(require('./reports/lint-report.json'))"

      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@d57a1193d4c59cbfbf3f86c271f42612f9dbd9e9 # 3.0.0
        with:
          fail-on-error: true
          fail-on-warning: true
          markdown-report-on-step-summary: true
          only-pr-files: false
          report-json: reports/lint-report.json

  npm-test:
    name: Test the code
    runs-on: ubuntu-latest
    needs:
      - warm-up-cache
    permissions:
      checks: write
      id-token: write
      pull-requests: write
    steps:
      - *checkout

      - *install_pnpm

      - *setup_node

      - *install_dependencies_from_cache

      - name: Run Vitest
        id: tests
        continue-on-error: true
        run: |
          pnpm run test --reporter=default --reporter=github-actions --reporter=junit --coverage.reporter=text --coverage.reporter=lcovonly

      - name: Upload test results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          check_name: Test results for TypeScript
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            reports/vitest/test-report.xml

      - name: Upload coverage results (to Codecov.io)
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          disable_search: true
          disable_telem: true
          fail_ci_if_error: true
          flags: front-end
          files: coverage/vitest/lcov.info
          plugins: ""
          use_oidc: true

      - name: Upload test results to Codecov
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        with:
          disable_search: true
          # doesn't exist here... yet
          # disable_telem: true
          fail_ci_if_error: true
          flags: front-end
          files: reports/vitest/test-report.xml
          use_oidc: true

      - name: Fail if tests failed
        shell: bash
        if: |
          steps.tests.outcome != 'success'
        run: |
          echo "Tests failed"
          exit 1

  npm-dependencies:
    name: Validate dependencies
    runs-on: ubuntu-latest
    needs:
      - changes
      - warm-up-cache
    if: |
      github.event_name == 'pull_request' &&
      fromJSON(needs.changes.outputs.typescript) == true
    steps:
      - *checkout

      - *install_pnpm

      - *setup_node

      - *install_dependencies_from_cache

      - name: Check dependencies
        shell: bash
        run: |
          pnpm run deps:ci

  all-done:
    name: TypeScript All done
    # this is the job that should be marked as required on GitHub. It's the only one that'll reliably trigger
    # when any upstream fails: success
    # when all upstream skips: pass
    # when all upstream success: success
    # combination of upstream skip and success: success
    runs-on: ubuntu-latest
    needs:
      - npm-build
      - npm-dependencies
      - npm-lint
      - npm-test
    if: |
      always()
    steps:
      - name: Fail!
        shell: bash
        if: |
          contains(needs.*.result, 'failure') ||
          contains(needs.*.result, 'cancelled')
        run: |
          echo "One / more upstream failed or was cancelled. Failing job..."
          exit 1

      - name: Success!
        shell: bash
        run: |
          echo "Great success!"
